<?php
$this->inlineScript()->captureStart();
echo <<<JS
$('.title-breadcrumb').html('Empresas');
$('.title-page-breadcrumb').html('Listar');
JS;
$this->inlineScript()->captureEnd();
?>

<div class="row">
  <div class="col-md-12">
    <!-- start: TABLE WITH IMAGES PANEL -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Listar empresas
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
          <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
            <i class="fa fa-wrench"></i>
          </a>
          <a class="btn btn-xs btn-link panel-refresh" href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="fa fa-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-close" href="#">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="sample-table-2">
          <thead>
            <tr>
              <th class="center">
                <div class="checkbox-table">
                  <label>
                    <input type="checkbox" class="flat-grey">
                  </label>
                </div></th>
                <th class="center">Foto</th>
                <th>Nome completo</th>
                <th class="hidden-xs">Email</th>
                <th class="hidden-xs">Telefone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center">
                  <div class="checkbox-table">
                    <label>
                      <input type="checkbox" class="flat-grey">
                    </label>
                  </div></td>
                  <td class="center"><img src="<?php echo $this->basePath(); ?>assets/images/avatar-1.jpg" alt="image"/></td>
                  <td>Everton Santos</td>
                  <td class="hidden-xs">
                    <a href="#" rel="nofollow" target="_blank">
                      everton@itjob.com
                    </a></td>
                    <td class="hidden-xs">(641)-734-4763</td>
                    <td class="center">
                      <div class="visible-md visible-lg hidden-sm hidden-xs">
                        <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                        <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                      </div>
                      <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="btn-group">
                          <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                            <i class="fa fa-cog"></i> <span class="caret"></span>
                          </a>
                          <ul role="menu" class="dropdown-menu pull-right">
                            <li role="presentation">
                              <a role="menuitem" tabindex="-1" href="#">
                                <i class="fa fa-edit"></i> Edit
                              </a>
                            </li>
                            <li role="presentation">
                              <a role="menuitem" tabindex="-1" href="#">
                                <i class="fa fa-share"></i> Share
                              </a>
                            </li>
                            <li role="presentation">
                              <a role="menuitem" tabindex="-1" href="#">
                                <i class="fa fa-times"></i> Remove
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div></td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="checkbox-table">
                          <label>
                            <input type="checkbox" class="flat-grey">
                          </label>
                        </div></td>
                        <td class="center"><img src="<?php echo $this->basePath(); ?>assets/images/avatar-2.jpg" alt="image"/></td>
                        <td>Nicole Bell</td>
                        <td class="hidden-xs">
                          <a href="#" rel="nofollow" target="_blank">
                            nicole@example.com
                          </a></td>
                          <td class="hidden-xs">(741)-034-4573</td>
                          <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                              <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                              <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                              <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                              <div class="btn-group">
                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                  <i class="fa fa-cog"></i> <span class="caret"></span>
                                </a>
                                <ul role="menu" class="dropdown-menu pull-right">
                                  <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">
                                      <i class="fa fa-edit"></i> Edit
                                    </a>
                                  </li>
                                  <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">
                                      <i class="fa fa-share"></i> Share
                                    </a>
                                  </li>
                                  <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">
                                      <i class="fa fa-times"></i> Remove
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td class="center">
                              <div class="checkbox-table">
                                <label>
                                  <input type="checkbox" class="flat-grey">
                                </label>
                              </div></td>
                              <td class="center"><img src="<?php echo $this->basePath(); ?>assets/images/avatar-3.jpg" alt="image"/></td>
                              <td>Steven Thompson</td>
                              <td class="hidden-xs">
                                <a href="#" rel="nofollow" target="_blank">
                                  steven@example.com
                                </a></td>
                                <td class="hidden-xs">(471)-543-4073</td>
                                <td class="center">
                                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                    <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                    <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                  </div>
                                  <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="btn-group">
                                      <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                      </a>
                                      <ul role="menu" class="dropdown-menu pull-right">
                                        <li role="presentation">
                                          <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-edit"></i> Edit
                                          </a>
                                        </li>
                                        <li role="presentation">
                                          <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-share"></i> Share
                                          </a>
                                        </li>
                                        <li role="presentation">
                                          <a role="menuitem" tabindex="-1" href="#">
                                            <i class="fa fa-times"></i> Remove
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div></td>
                                </tr>
                                <tr>
                                  <td class="center">
                                    <div class="checkbox-table">
                                      <label>
                                        <input type="checkbox" class="flat-grey">
                                      </label>
                                    </div></td>
                                    <td class="center"><img src="<?php echo $this->basePath(); ?>assets/images/avatar-4.jpg" alt="image"/></td>
                                    <td>Ella Patterson</td>
                                    <td class="hidden-xs">
                                      <a href="#" rel="nofollow" target="_blank">
                                        ella@example.com
                                      </a></td>
                                      <td class="hidden-xs">(799)-994-9999</td>
                                      <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                          <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                          <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                          <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                          <div class="btn-group">
                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                              <i class="fa fa-cog"></i> <span class="caret"></span>
                                            </a>
                                            <ul role="menu" class="dropdown-menu pull-right">
                                              <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">
                                                  <i class="fa fa-edit"></i> Edit
                                                </a>
                                              </li>
                                              <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">
                                                  <i class="fa fa-share"></i> Share
                                                </a>
                                              </li>
                                              <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">
                                                  <i class="fa fa-times"></i> Remove
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </div></td>
                                      </tr>
                                      <tr>
                                        <td class="center">
                                          <div class="checkbox-table">
                                            <label>
                                              <input type="checkbox" class="flat-grey">
                                            </label>
                                          </div></td>
                                          <td class="center"><img src="<?php echo $this->basePath(); ?>assets/images/avatar-5.jpg" alt="image"/></td>
                                          <td>Kenneth Ross</td>
                                          <td class="hidden-xs">
                                            <a href="#" rel="nofollow" target="_blank">
                                              kenneth@example.com
                                            </a></td>
                                            <td class="hidden-xs">(111)-114-1173</td>
                                            <td class="center">
                                              <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                                <a href="#" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Share"><i class="fa fa-share"></i></a>
                                                <a href="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                              </div>
                                              <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="btn-group">
                                                  <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-cog"></i> <span class="caret"></span>
                                                  </a>
                                                  <ul role="menu" class="dropdown-menu pull-right">
                                                    <li role="presentation">
                                                      <a role="menuitem" tabindex="-1" href="#">
                                                        <i class="fa fa-edit"></i> Edit
                                                      </a>
                                                    </li>
                                                    <li role="presentation">
                                                      <a role="menuitem" tabindex="-1" href="#">
                                                        <i class="fa fa-share"></i> Share
                                                      </a>
                                                    </li>
                                                    <li role="presentation">
                                                      <a role="menuitem" tabindex="-1" href="#">
                                                        <i class="fa fa-times"></i> Remove
                                                      </a>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
    <!-- end: TABLE WITH IMAGES PANEL -->
</div>
</div>
