<?php

$this->inlineScript()->captureStart();
echo <<<JS
jQuery(document).ready(function() {
  $('.title-breadcrumb').html('Candidatos');
  $('.title-page-breadcrumb').html('Cadastrar');
  FormWizard.init();

  var treeData = [
    {
    title: "Web",
    isFolder: true,
    key: "1",
    children:
    [
      {
        title:"Html",
        children:[
          {
            title: "Xhtml"
          },
          {
            title: "Html5"
          }
          ]
      },
      {
        title:"CSS",
        children:
        [
          {
            title: "CSS3"
          },
          {
            title: "Less"
          },
          {
            title: "Bootstrap"
          }
          ]
      },
      {
        title: "PHP",
        children:
        [
          {
            title:"Orientado a Objetos"
          },
          {
            title:"Zend Framework"
          },
          {
            title:"CodeIgniter"
          },
          {
            title:"CakePHP"
          },
          {
            title:"WordPress"
          }
          ]
      },
      {
        title: "JavaScript",
        children:
        [
          {
            title:"jQuery"
          },
          {
            title:"AngularJS"
          },
          {
            title:"NodeJS"
          },
          {
            title:"Ajax"
          }
          ]
        },
        {
          title: "JavaEE",
          children:
          [
            {
              title:"JSF"
            },
            {
              title:"JSP"
            },
            {
              title:"PrimeFaces"
            },
            {
              title:"VRaptor"
            }
            ]
          },
        {
          title: "Python",
          children:
          [
            {
              title:"Django"
            },
            {
              title:"Flask"
            }
            ]
          }

      ]
    }];

  $("#tree-competencias").dynatree({
    checkbox: true,
    selectMode: 2,
    children: treeData,
    onSelect: function (select, node) {
      // Display list of selected nodes
      var selNodes = node.tree.getSelectedNodes();
      // convert to title/key array
      var selKeys = $.map(selNodes, function (node) {
        return "[" + node.data.key + "]: '" + node.data.title + "'";
      });
      $("#competencias").val(selKeys.join(", "));
    },
    onClick: function (node, event) {
      // We should not toggle, if target was "checkbox", because this
      // would result in double-toggle (i.e. no toggle)
      if (node.getEventTargetType(event) == "title")
      node.toggleSelect();
    },
    onKeydown: function (node, event) {
      if (event.which == 32) {
        node.toggleSelect();
        return false;
      }
    },
    // The following options are only required, if we have more than one tree on one page:
    cookieId: "dynatree-Cb2",
    idPrefix: "dynatree-Cb2-"
  });


});
JS;
$this->inlineScript()->captureEnd();
?>

<!-- start: PAGE CONTENT -->
<div class="row">
  <div class="col-sm-12">
    <!-- start: FORM WIZARD PANEL -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Cadastrar candidato
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
          <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
            <i class="fa fa-wrench"></i>
          </a>
          <a class="btn btn-xs btn-link panel-refresh" href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="fa fa-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-close" href="#">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <form action="<?php echo $this->url('admin', array('action' => 'insert'))?>" 
        role="form" class="smart-wizard form-horizontal" id="form" method="post">
          <div id="wizard" class="swMain">
            <ul>
              <li>
                <a href="#step-1">
                  <div class="stepNumber">
                    1
                  </div>
                  <span class="stepDesc"> 1 Passo
                    <br />
                    <small>Dados pessoais</small> </span>
                  </a>
                </li>
                <li>
                  <a href="#step-2">
                    <div class="stepNumber">
                      2
                    </div>
                    <span class="stepDesc"> 2 Passo
                      <br />
                      <small>Contato</small> </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-3">
                      <div class="stepNumber">
                        3
                      </div>
                      <span class="stepDesc"> Passo 3
                        <br />
                        <small>Curriculum</small> </span>
                      </a>
                    </li>
                    </ul>
                    <div class="progress progress-striped active progress-sm">
                      <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
                        <span class="sr-only"> 0% Complete (success)</span>
                      </div>
                    </div>
                    <div id="step-1">
                      <h2 class="StepTitle">Dados pessoais</h2>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Nome completo <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Email <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Senha <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Confirmar senha <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="senha_again" name="senha_again" placeholder="Confirmar senha">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          CPF <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          RG <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="rg" name="rg" placeholder="RG">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Data nascimento <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                          <div class="row">
                            <div class="col-sm-4">
                              <select class="form-control" id="dia" name="dia">
                                <option value="">DD</option>
                                <?php
                                  for($i = 0; $i <= 31; $i++)
                                  {
                                    echo '<option value="'.$i.'">'.$i.'</option>';
                                  }
                                ?>

                              </select>
                            </div>
                            <div class="col-sm-4">
                              <select class="form-control" id="mes" name="mes">
                                <option value="">MM</option>
                                <?php
                                for($i = 0; $i <= 12; $i++)
                                {
                                  echo '<option value="'.$i.'">'.$i.'</option>';
                                }
                                ?>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <select class="form-control" id="mes" name="mes">
                                <option value="">AAAA</option>
                                <?php
                                for($i = 1960; $i <= (2014 - 18); $i++)
                                {
                                  echo '<option value="'.$i.'">'.$i.'</option>';
                                }
                                ?>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Foto <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                          <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-group">
                              <div class="form-control uneditable-input">
                                <i class="fa fa-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span>
                              </div>
                              <div class="input-group-btn">
                                <div class="btn btn-light-grey btn-file">
                                  <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> Selecione o arquivo</span>
                                  <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> Alterar</span>
                                  <input type="file" class="file-input">
                                </div>
                                <a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
                                  <i class="fa fa-times"></i> Remover
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>


                      <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-8">
                          <button class="btn btn-blue next-step btn-block">
                            Proximo <i class="fa fa-arrow-circle-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div id="step-2">
                      <h2 class="StepTitle">Contato</h2>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Celular <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Telefone residencial
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone residencial">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Facebook
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Facebook">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Twitter
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Twitter">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Google plus
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="gplus" name="gplus" placeholder="Google plus">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Linkedin
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="linkedin" name="linkedin" placeholder="Linkedin">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Site
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="site" name="site" placeholder="Site">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-8">
                          <button class="btn btn-blue next-step btn-block">
                            Proximo <i class="fa fa-arrow-circle-right"></i>
                          </button>
                        </div>
                      </div>
                  </div>
                  <div id="step-3">
                    <h2 class="StepTitle">Curriculum</h2>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        Curso <span class="symbol required"></span>
                      </label>
                      <div class="col-sm-7">
                        <div class="row">
                          <div class="col-sm-12">
                            <select class="form-control" id="curso" name="curso">
                              <option value="">Selecione um curso</option>
                              <option value="01">Sistemas para internet</option>
                              <option value="02">Ciencia da computacao</option>
                              <option value="03">Gestao de TI</option>
                              <option value="04">Analise e desenvolvimento de sistemas</option>
                              <option value="05">Sistemas de Informacao</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        Competências
                      </label>
                      <div class="col-sm-7">
                        <div id="tree-competencias"></div>
                        <input type="hidden" id="competencias">
                      </div>
                    </div><div class="form-group">
                      <div class="col-sm-2 col-sm-offset-8">
                        <button class="btn btn-success finish-step btn-block">
                          Finalizar <i class="fa fa-arrow-circle-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- end: FORM WIZARD PANEL -->
          </div>
        </div>
        <!-- end: PAGE CONTENT-->
