<?php
$this->inlineScript ()->captureStart ();
echo <<<JS

JS;
$this->inlineScript ()->captureEnd ();
?>


<form
	action="<?php echo $this->url('candidatos', array('action' => 'insert')) ?>"
	method="post" role="form" class="form-horizontal" id="form">
	<input name="email" type="text" /> <input type="text" name="nome" /> <input
		type="password" name="senha" /> <input type="submit" value="Enviar" />
</form>