<?php
use Application\Entity\Vaga;
$this->inlineScript ()->captureStart ();
echo <<<JS
$('.title-breadcrumb').html('Vagas');
$('.title-page-breadcrumb').html('Listar');
JS;
$this->inlineScript ()->captureEnd ();
?>

<div class="row">
	<div class="col-md-12">
		<!-- start: TABLE WITH IMAGES PANEL -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i> Listar vagas
				<div class="panel-tools">
					<a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
					<a class="btn btn-xs btn-link panel-config" href="#panel-config"
						data-toggle="modal"> <i class="fa fa-wrench"></i>
					</a> <a class="btn btn-xs btn-link panel-refresh" href="#"> <i
						class="fa fa-refresh"></i>
					</a> <a class="btn btn-xs btn-link panel-expand" href="#"> <i
						class="fa fa-resize-full"></i>
					</a> <a class="btn btn-xs btn-link panel-close" href="#"> <i
						class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover"
					id="sample-table-2">
					<thead>
						<tr>
							<th>Nome da empresa</th>
							<th class="hidden-xs">Descrição da vaga</th>
							<th class="hidden-xs">Turno</th>
							<th class="hidden-xs">Competências</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						
					
						<?php foreach ($this->model as $vaga): ?>
						<tr>
							<td>Falta empresa na vaga</td>
							<td><?php echo $vaga->getDescricao(); ?></td>

							<td><?php echo $vaga->getTurno();?></td>

							<td>Java, Firebird, Delphi, SqlServer</td>

							<td class="center">
								<div class="visible-md visible-lg hidden-sm hidden-xs">
									<a href="#" class="btn btn-xs btn-teal tooltips"
										data-placement="top" data-original-title="Edit"><i
										class="fa fa-edit"></i></a>
											
									<a
										href="#" class="btn btn-xs btn-bricky tooltips"
										data-placement="top" data-original-title="Remove"><i
										class="fa fa-times fa fa-white"></i></a>
								</div>
								<div class="visible-xs visible-sm hidden-md hidden-lg">
									<div class="btn-group">
										<a class="btn btn-primary dropdown-toggle btn-sm"
											data-toggle="dropdown" href="#"> <i class="fa fa-cog"></i> <span
											class="caret"></span>
										</a>
										<ul role="menu" class="dropdown-menu pull-right">
											<li role="presentation"><a role="menuitem" tabindex="-1"
												href="#"> <i claSharess="fa fa-edit"></i> Editar
											</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1"
												href="#"> <i class="fa fa-times"></i> Remover
											</a></li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						<?php endforeach;?>
					</tbody>
				</table>
			</div>
		</div>
		<!-- end: TABLE WITH IMAGES PANEL -->
	</div>
</div>
