<?php
$this->inlineScript ()->captureStart ();
echo <<<JS
jQuery(document).ready(function() {
  $('.title-breadcrumb').html('Vagas');
  $('.title-page-breadcrumb').html('Cadastrar');
	FormWizard.init();
		
		var runDatePicker = function () {
        $('.date-picker').datepicker({
            autoclose: true
        });
    };
	runDatePicker();
		
  var treeData = [
    {
      title: "Web",
      isFolder: true,
      key: "1",
      children:
      [
        {
          title:"Html",
          children:[
            {
              title: "Xhtml"
            },
            {
              title: "Html5"
            }
            ]
          },
          {
            title:"CSS",
            children:
            [
              {
                title: "CSS3"
              },
              {
                title: "Less"
              },
              {
                title: "Bootstrap"
              }
              ]
            },
            {
              title: "PHP",
              children:
              [
                {
                  title:"Orientado a Objetos"
                },
                {
                  title:"Zend Framework"
                },
                {
                  title:"CodeIgniter"
                },
                {
                  title:"CakePHP"
                },
                {
                  title:"WordPress"
                }
                ]
              },
              {
                title: "JavaScript",
                children:
                [
                {
                  title:"jQuery"
                },
                {
                  title:"AngularJS"
                },
                {
                  title:"NodeJS"
                },
                {
                  title:"Ajax"
                }
                ]
              },
              {
                title: "JavaEE",
                children:
                [
                {
                  title:"JSF"
                },
                {
                  title:"JSP"
                },
                {
                  title:"PrimeFaces"
                },
                {
                  title:"VRaptor"
                }
                ]
              },
              {
                title: "Python",
                children:
                [
                {
                  title:"Django"
                },
                {
                  title:"Flask"
                }
                ]
              }

              ]
            }];

            $("#tree-competencias").dynatree({
              checkbox: true,
              selectMode: 2,
              children: treeData,
              onSelect: function (select, node) {
                // Display list of selected nodes
                var selNodes = node.tree.getSelectedNodes();
                // convert to title/key array
                var selKeys = $.map(selNodes, function (node) {
                  return "[" + node.data.key + "]: '" + node.data.title + "'";
                });
                $("#competencias").val(selKeys.join(", "));
              },
              onClick: function (node, event) {
                // We should not toggle, if target was "checkbox", because this
                // would result in double-toggle (i.e. no toggle)
                if (node.getEventTargetType(event) == "title")
                node.toggleSelect();
              },
              onKeydown: function (node, event) {
                if (event.which == 32) {
                  node.toggleSelect();
                  return false;
                }
              },
              // The following options are only required, if we have more than one tree on one page:
              cookieId: "dynatree-Cb2",
              idPrefix: "dynatree-Cb2-"
            });
});
JS;
$this->inlineScript ()->captureEnd ();
?>



<h2>
	<i class="fa fa-pencil-square teal"></i> CADASTRAR VAGA
</h2>
<hr>
<form
	action="<?php echo $this->url('vagas', array('action' => 'insert')) ?>"
	method="post" role="form" id="form">
	<div class="row">
		<div class="col-md-12">
			<div class="errorHandler alert alert-danger no-display">
				<i class="fa fa-times-sign"></i> You have some form errors. Please
				check below.
			</div>
			<div class="successHandler alert alert-success no-display">
				<i class="fa fa-ok"></i> Your form validation is successful!
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label"> Descrição <span
					class="symbol required"></span>
				</label> <input type="text" placeholder="Insira a descrição da vaga"
					class="form-control" id="descricao" name="descricao"required ">
			</div>
			<div class="form-group">
				<label class="control-label"> Quantidade </label> <input
					type="number" placeholder="Quantidade de vagas disponiveis"
					class="form-control" id="quantidade" name="quantidade" required>
			</div>
			<div class="form-group">
				<label class="control-label"> Salário </label> <input type="number"
					placeholder="Salario" class="form-control" id="salario"
					name="salario">
			</div>
			<div class="form-group">
				<div class="form-group connected-group">
					<label class="control-label"> Turno </label>
					<div class="row">
						<div class="col-md-12">
							<select name="turno" id="turno" class="form-control">
								<option value="">Selecione o turno</option>
								<option value="01">Manhã</option>
								<option value="02">Tarde</option>
								<option value="03">Noite</option>
								<option value="04">Manhã/Tarde</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group connected-group">
				<label class="control-label"> Validade da vaga </label>
				<div class="input-group">
					<input type="text" data-date-format="dd/mm/yyyy"
						data-date-viewmode="years" class="form-control date-picker"> <span
						class="input-group-addon"> <i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label"> Mostrar empresa? <span
					class="symbol required"></span>
				</label>
				<div>
					<label class="radio-inline"> <input type="radio" class="grey"
						value="" name="mostrar" id="sim"> Sim
					</label> <label class="radio-inline"> <input type="radio"
						class="grey" value="" name="mostrar" id="nao"> Não
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label"> Competências necessarias para a vaga </label>
				<div>
					<div id="tree-competencias"></div>
					<input type="hidden" id="competencias">
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div>
				<span class="symbol required"></span>Campos obrigatorios
				<hr>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p>Clicando em CADASTRAR você estará aceitando os termos do ITJob.</p>
		</div>
		<div class="col-md-4">
			<button class="btn btn-yellow btn-block" type="submit">
				Cadastrar <i class="fa fa-arrow-circle-right"></i>
			</button>
		</div>
	</div>
</form>
</div>
</div>
