<?php

$this->inlineScript()->captureStart();
echo <<<JS
jQuery(document).ready(function() {
  $('.title-breadcrumb').html('Candidatos');
  $('.title-page-breadcrumb').html('Cadastrar');
  FormWizard.init();
});


$("#cnpj").mask("99.999.999/9999-99");
$("#cpf").mask("999.999.999-99");

JS;
$this->inlineScript()->captureEnd();
?>

<!-- start: PAGE CONTENT -->
<div class="row">
  <div class="col-sm-12">
    <!-- start: FORM WIZARD PANEL -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Cadastrar Empresa
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
          <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
            <i class="fa fa-wrench"></i>
          </a>
          <a class="btn btn-xs btn-link panel-refresh" href="#">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="fa fa-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-close" href="#">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <form action="<?php echo $this->url('empresas', array('action' => 'insert')) ?>" method="post" role="form" class="smart-wizard form-horizontal" id="form">
          <div id="wizard" class="swMain">
            <ul>
              <li>
                <a href="#step-1">
                  <div class="stepNumber">
                    1
                  </div>
                  <span class="stepDesc"> 1 Passo
                    <br />
                    <small>Dados da empresa</small> </span>
                  </a>
                </li>
                <li>
                  <a href="#step-2">
                    <div class="stepNumber">
                      2
                    </div>
                    <span class="stepDesc"> 2 Passo
                      <br />
                      <small>Dados do responsavel</small> </span>
                    </a>
                  </li>
                    </ul>
                    <div class="progress progress-striped active progress-sm">
                      <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
                        <span class="sr-only"> 0% Complete (success)</span>
                      </div>
                    </div>
                    <div id="step-1">
                      <h2 class="StepTitle">Dados da empresa</h2>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Nome fantasia<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="nome" name="nome_fantasia" placeholder="Nome fantasia" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Razão Social <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="razao" name="razao" placeholder="Razão social" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          CNPJ <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ" required  title="Verifique o preenchimento do CNPJ!">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Foto <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                          <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-group">
                              <div class="form-control uneditable-input">
                                <i class="fa fa-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span>
                              </div>
                              <div class="input-group-btn">
                                <div class="btn btn-light-grey btn-file">
                                  <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> Selecione o arquivo</span>
                                  <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> Alterar</span>
                                  <input type="file" class="file-input">
                                </div>
                                <a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
                                  <i class="fa fa-times"></i> Remover
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-sm-3 control-label">
                          Site
                        </label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="site" name="site" placeholder="Site">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-8">
                          <button class="btn btn-blue next-step btn-block">
                            Proximo <i class="fa fa-arrow-circle-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div id="step-2">
                      <h2 class="StepTitle">Dados do responsável</h2>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            Nome completo <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            Email <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-7">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            Senha <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-7">
                            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            Confirmar senha <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-7">
                            <input type="password" class="form-control" id="senha_again" name="senha_again" placeholder="Confirmar senha">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            CPF <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" title="Verifique o CPF">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            RG <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="rg" name="rg" placeholder="RG">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            Data nascimento <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-4">
                                <select class="form-control" id="dia" name="dia">
                                  <option value="">DD</option>
                                  <?php
                                  for($i = 0; $i <= 31; $i++)
                                  {
                                    echo '<option value="'.$i.'">'.$i.'</option>';
                                  }
                                  ?>

                                </select>
                              </div>
                              <div class="col-sm-4">
                                <select class="form-control" id="mes" name="mes">
                                  <option value="">MM</option>
                                  <?php
                                  for($i = 0; $i <= 12; $i++)
                                  {
                                    echo '<option value="'.$i.'">'.$i.'</option>';
                                  }
                                  ?>
                                </select>
                              </div>
                              <div class="col-sm-4">
                                <select class="form-control" id="mes" name="mes">
                                  <option value="">AAAA</option>
                                  <?php
                                  for($i = 1960; $i <= (2014 - 18); $i++)
                                  {
                                    echo '<option value="'.$i.'">'.$i.'</option>';
                                  }
                                  ?>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">
                            Foto <span class="symbol required"></span>
                          </label>
                          <div class="col-sm-4">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                              <div class="input-group">
                                <div class="form-control uneditable-input">
                                  <i class="fa fa-file fileupload-exists"></i>
                                  <span class="fileupload-preview"></span>
                                </div>
                                <div class="input-group-btn">
                                  <div class="btn btn-light-grey btn-file">
                                    <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> Selecione o arquivo</span>
                                    <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> Alterar</span>
                                    <input type="file" class="file-input">
                                  </div>
                                  <a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
                                    <i class="fa fa-times"></i> Remover
                                  </a>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>


                      <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-8">
                          <button class="btn btn-success finish-step btn-block">
                            Finalizar <i class="fa fa-arrow-circle-right"></i>
                          </button>

                        </div>
                      </div>
                  </div>

                </form>
              </div>
            </div>
            <!-- end: FORM WIZARD PANEL -->
          </div>
        </div>
        <!-- end: PAGE CONTENT-->
