<?php echo $this->doctype()  ?>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html  class="no-js">
<!--<![endif]-->
<head>
  <title>It Jobs</title>

  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">


  <?php echo $this->headLink()
  ->prependStylesheet($this->basePath('assets/plugins/bootstrap-social-buttons/social-buttons-3.css'))
  ->prependStylesheet($this->basePath('assets/plugins/summernote/build/summernote.css'))
  ->prependStylesheet($this->basePath('assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css'))
  ->prependStylesheet($this->basePath('assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css'))
  ->prependStylesheet($this->basePath('assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css'))
  ->prependStylesheet($this->basePath('assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'))
  ->prependStylesheet($this->basePath('assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'))
  ->prependStylesheet($this->basePath('assets/plugins/datepicker/css/datepicker.css'))
  ->prependStylesheet($this->basePath('assets/plugins/select2/select2.css'))
  ->prependStylesheet($this->basePath('assets/plugins/dynatree/src/skin-vista/ui.dynatree.css'))
  ->prependStylesheet($this->basePath('assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css'))
  ->prependStylesheet($this->basePath() . '/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css')
  ->prependStylesheet($this->basePath() . '/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css')
  ->prependStylesheet($this->basePath() . '/assets/plugins/iCheck/skins/all.css')
  ->prependStylesheet($this->basePath() . '/assets/css/main-responsive.css')
  ->prependStylesheet($this->basePath() . '/assets/css/main.css')
  ->prependStylesheet($this->basePath() . '/assets/fonts/style.css')
  ->prependStylesheet($this->basePath() . '/assets/plugins/font-awesome/css/font-awesome.min.css')
  ->prependStylesheet($this->basePath() . '/assets/plugins/bootstrap/css/bootstrap.min.css')
  ?>

  <link rel="stylesheet" href="<?php echo $this->basePath() ?>/assets/css/theme_light.css" type="text/css" id="skin_color">
  <link rel="stylesheet" href="<?php echo $this->basePath() ?>/assets/css/print.css" type="text/css" media="print"/>

  <!--[if IE 7]>
  <link rel="stylesheet" href="<?php echo $this->basePath(). '/assets/plugins/font-awesome/css/font-awesome-ie7.min.css'?>">
  <![endif]-->
  <link rel="shortcut icon" href="<?php echo $this->basePath() ?>/favicon.ico" />
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="clip-list-2"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          IT JOBS VIRTUAL
        </a>
      </div>
      <div class="navbar-tools">
        <!-- start: TOP NAVIGATION MENU -->
        <ul class="nav navbar-right">
          <!-- start: USER DROPDOWN -->
          <li class="dropdown current-user">
            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
              <img src="<?php echo $this->basePath() ?>/assets/images/avatar-1-small.jpg" class="circle-img" alt="">
              <span class="username">Everton</span>
              <i class="clip-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="<?php echo $this->url('candidatos', array('action' => 'visualiza')); ?>">
                  <i class="clip-user-2"></i>
                  &nbsp;Meu perfil
                </a>
              </li>
              <li>
                <a href="pages_calendar.html">
                  <i class="clip-calendar"></i>
                  &nbsp;Minha agenda
                </a>
                <li>
                  <a href="pages_messages.html">
                    <i class="clip-bubble-4"></i>
                    &nbsp;Minhas mensagens (0)
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="utility_lock_screen.html"><i class="clip-locked"></i>
                    &nbsp;Bloquear tela </a>
                  </li>
                  <li>
                    <a href="login_example1.html">
                      <i class="clip-exit"></i>
                      &nbsp;Sair
                    </a>
                  </li>
                </ul>
              </li>
              <!-- end: USER DROPDOWN -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
          </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
      </div>
      <!-- end: HEADER -->
      <!-- start: MAIN CONTAINER -->
      <div class="main-container">
        <div class="navbar-content">
          <!-- start: SIDEBAR -->
          <div class="main-navigation navbar-collapse collapse">
            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
              <i class="clip-chevron-left"></i>
              <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->
            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu">
            
            <li>
                <a href="javascript:void(0)">
                  <span class="title"> Administradores </span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('admin', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('admin'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Candidatos </span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('candidatos', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('candidatos'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Empresas </span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('empresas', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('empresas'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Vagas </span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('vagas', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('vagas'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Cursos</span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('cursos', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('cursos'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Competencias </span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('competencias', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('competencias'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Areas </span>
                  <i class="icon-arrow"></i>
                  <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="<?php echo $this->url('areas', array('action' => 'insert')); ?>">
                      <span class="title"> Cadastrar </span>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url('areas'); ?>">
                      <span class="title"> Listar </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="title"> Configurações </span>
                </a>
              </li>
            </ul>
                  <!-- end: MAIN NAVIGATION MENU -->
                </div>
                <!-- end: SIDEBAR -->
              </div>
              <!-- start: PAGE -->
              <div class="main-content">
                <!-- start: PANEL CONFIGURATION MODAL FORM -->
                <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                          &times;
                        </button>
                        <h4 class="modal-title">Panel Configuration</h4>
                      </div>
                      <div class="modal-body">
                       	Form de configuracao
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          Fechar
                        </button>
                        <button type="button" class="btn btn-primary">
                          Salvar alterações
                        </button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- end: SPANEL CONFIGURATION MODAL FORM -->
                <div class="container">
                  <!-- start: PAGE HEADER -->
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- start: PAGE TITLE & BREADCRUMB -->
                      <ol class="breadcrumb">
                        <li>
                          <i class="clip-file"></i>
                          <a href="#" class="title-breadcrumb">
                          </a>
                        </li>
                        <li class="active title-page-breadcrumb">
                        </li>
                        <li class="search-box">
                          <form class="sidebar-search">
                            <div class="form-group">
                              <input type="text" placeholder="Pesquisar">
                              <button class="submit">
                                <i class="clip-search-3"></i>
                              </button>
                            </div>
                          </form>
                        </li>
                      </ol>
                      <div class="page-header">
                        <h1><small class="title-page-breadcrumb"></small></h1>
                      </div>
                      <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                  </div>
                  <!-- end: PAGE HEADER -->
                  <!-- start: PAGE CONTENT -->
                  <?php echo $this->content; ?>
                  <!-- end: PAGE CONTENT-->
                </div>
              </div>
              <!-- end: PAGE -->
            </div>
            <!-- end: MAIN CONTAINER -->
            <!-- start: FOOTER -->
            <div class="footer clearfix">
              <div class="footer-inner">
                2014 &copy; ItJobs Team
              </div>
              <div class="footer-items">
                <span class="go-top"><i class="clip-chevron-up"></i></span>
              </div>
            </div>

            <?php echo $this->headScript()
            ->prependFile($this->basePath('assets/js/pages-user-profile.js'))
            ->prependFile($this->basePath('assets/plugins/jquery.pulsate/jquery.pulsate.min.js'))
            ->prependFile($this->basePath('assets/plugins/ckeditor/adapters/jquery.js'))
            ->prependFile($this->basePath('assets/plugins/ckeditor/ckeditor.js'))
            ->prependFile($this->basePath('assets/plugins/summernote/build/summernote.min.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js'))
            ->prependFile($this->basePath('assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-colorpicker/js/commits.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-daterangepicker/daterangepicker.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-daterangepicker/moment.min.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'))
            ->prependFile($this->basePath('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'))
            ->prependFile($this->basePath('assets/plugins/jquery-maskmoney/jquery.maskMoney.js'))
            ->prependFile($this->basePath('assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js'))
            ->prependFile($this->basePath('assets/plugins/select2/select2.min.js'))
            ->prependFile($this->basePath('assets/plugins/autosize/jquery.autosize.min.js'))
            ->prependFile($this->basePath('assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js'))
            ->prependFile($this->basePath('assets/js/ui-treeview.js'))
            ->prependFile($this->basePath('assets/plugins/dynatree/src/jquery.dynatree.js'))
            ->prependFile($this->basePath('assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js'))
            ->prependFile($this->basePath('assets/js/form-wizard.js'))
            ->prependFile($this->basePath('assets/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'))
            ->prependFile($this->basePath('assets/plugins/jquery-validation/dist/jquery.validate.min.js'))
            ->prependFile($this->basePath('/assets/js/main.js'))
            ->prependFile($this->basePath('/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js'))
            ->prependFile($this->basePath('/assets/plugins/jquery-cookie/jquery.cookie.js'))
            ->prependFile($this->basePath('/assets/plugins/less/less-1.5.0.min.js'))
            ->prependFile($this->basePath('/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js'))
            ->prependFile($this->basePath('/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js'))
            ->prependFile($this->basePath('/assets/plugins/iCheck/jquery.icheck.min.js'))
            ->prependFile($this->basePath('/assets/plugins/blockUI/jquery.blockUI.js'))
            ->prependFile($this->basePath('/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'))
            ->prependFile($this->basePath('/assets/plugins/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'))
            ->prependFile($this->basePath('/assets/js/jquery.min.js'))
            ->prependFile($this->basePath('/assets/plugins/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',)))
            ->prependFile($this->basePath('/assets/plugins/excanvas.min.js',   'text/javascript', array('conditional' => 'lt IE 9',)))
            ;
            ?>
            <script>
              jQuery(document).ready(function() {
                Main.init();
              });
            </script>
            <?php echo $this->inlineScript() ?>
          </body>
</html>
