<?php
$this->inlineScript ()->captureStart ();
echo <<<JS
$('.title-breadcrumb').html('Index');
$('.title-page-breadcrumb').html('Pagina de login ITJobs');
JS;
$this->inlineScript ()->captureEnd ();
?>

<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
<title>ItJobs</title>
<!-- start: META -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="" name="description" />
<meta content="" name="author" />
<!-- end: META -->
<!-- start: MAIN CSS -->
<link rel="stylesheet"
	href="assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/fonts/style.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/main-responsive.css">
<link rel="stylesheet" href="assets/plugins/iCheck/skins/all.css">
<link rel="stylesheet"
	href="assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
<link rel="stylesheet"
	href="assets/plugins/perfect-scrollbar/src/perfect-scrollbar-rtl.css">
<link rel="stylesheet" href="assets/css/theme_light.css" type="text/css"
	id="skin_color">
<link rel="stylesheet" href="assets/css/print.css" type="text/css"
	media="print" />
<link rel="stylesheet" href="assets/css/rtl-version.css">
<!--[if IE 7]>
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
<!-- end: MAIN CSS -->
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example1 rtl">
	<div
		class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div class="logo">IT JOBS VIRTUAL</div>
		<!-- start: LOGIN BOX -->
		<div class="box-login">
			<h3>Entre na sua conta</h3>
			<p>Digite seu email e senha para entrar.</p>
			<form class="form-login"
				action="<?php echo $this->url('home', array('action' => 'index'))?>"
				method="post">
				<div class="errorHandler alert alert-danger no-display">
					<i class="fa fa-remove-sign"></i>Você o email ou senha incorreto.
					Verifique.
				</div>
				<fieldset>
					<div class="form-group">
						<span class="input-icon input-icon-right"> <input type="text"
							class="form-control" name="email" placeholder="Email"> <i
							class="fa fa-user"></i>
						</span>
						<!-- To mark the incorrectly filled input, you must add the class "error" to the input -->
						<!-- example: <input type="text" class="login error" name="login" value="Username" /> -->
					</div>
					<div class="form-group form-actions">
						<span class="input-icon input-icon-right"> <input type="password"
							class="form-control password" name="senha" placeholder="Senha"> <i
							class="fa fa-lock"></i> <a class="forgot" href="#"> Esqueci minha senha </a>
						</span>
					</div>
					<div class="form-actions">
						<label for="remember" class="checkbox-inline"> <input
							type="checkbox" class="grey remember" id="remember"
							name="remember"> Mantenha-me conectado
						</label>
						<button type="submit" class="btn btn-bricky pull-left">
							Login <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
					<div class="new-account">
						Não tem uma conta ainda? <a
							href="<?php echo $this->url('candidatos', array('action'=> 'insert')); ?>"
							class="register"> Criar Conta </a>
					</div>
				</fieldset>
			</form>
		</div>
		<!-- end: LOGIN BOX -->
		<!-- start: FORGOT BOX -->
		<div class="box-forgot">
			<h3>Esqueceu a senha?</h3>
			<p>Digite seu endereço de e-mail abaixo para redefinir sua senha.</p>
			<form class="form-forgot">
				<div class="errorHandler alert alert-danger no-display">
					<i class="fa fa-remove-sign"></i> Você o login ou senha incorreto.
					Verifique.
				</div>
				<fieldset>
					<div class="form-group">
						<span class="input-icon"> <input type="email" class="form-control"
							name="email" placeholder="Email"> <i class="fa fa-envelope"></i>
						</span>
					</div>
					<div class="form-actions">
						<a class="btn btn-light-grey go-back"> <i
							class="fa fa-circle-arrow-left"></i> Voltar
						</a>
						<button type="submit" class="btn btn-bricky pull-left">
							Seguinte <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form>
		</div>
		<!-- end: FORGOT BOX -->
		<!-- start: REGISTER BOX -->
		<div class="box-register">
			<h3>inscrever-se</h3>
			<p>Digite os seus dados pessoais abaixo:</p>
			<form class="form-register">
				<div class="errorHandler alert alert-danger no-display">
					<i class="fa fa-remove-sign"></i> Você o login ou senha incorreto.
					Verifique.
				</div>
				<fieldset>
					<div class="form-group">
						<input type="text" class="form-control" name="full_name"
							placeholder="Full Name">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="address"
							placeholder="Address">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="city"
							placeholder="City">
					</div>
					<div class="form-group">
						<div>
							<label class="radio-inline"> <input type="radio" class="grey"
								value="F" name="gender"> Feminino
							</label> <label class="radio-inline"> <input type="radio"
								class="grey" value="M" name="gender"> Masculino
							</label>
						</div>
					</div>
					<p>Digite os detalhes da sua conta abaixo:</p>
					<div class="form-group">
						<span class="input-icon"> <input type="email" class="form-control"
							name="email" placeholder="Email"> <i class="fa fa-envelope"></i>
						</span>
					</div>
					<div class="form-group">
						<span class="input-icon"> <input type="password"
							class="form-control" id="password" name="password"
							placeholder="Password"> <i class="fa fa-lock"></i>
						</span>
					</div>
					<div class="form-group">
						<span class="input-icon"> <input type="password"
							class="form-control" name="password_again"
							placeholder="Password Again"> <i class="fa fa-lock"></i>
						</span>
					</div>
					<div class="form-group">
						<div>
							<label for="agree" class="checkbox-inline"> <input
								type="checkbox" class="grey agree" id="agree" name="agree">
								Concordo com os Termos de Serviço e Política de Privacidade
							</label>
						</div>
					</div>
					<div class="form-actions">
						<a class="btn btn-light-grey go-back"> <i
							class="fa fa-circle-arrow-left"></i> Voltar
						</a>
						<button type="submit" class="btn btn-bricky pull-left">
							Seguinte <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form>
		</div>
		<!-- end: REGISTER BOX -->
		<!-- start: COPYRIGHT -->
		<div class="copyright">2014 &copy; clip-one by cliptheme.</div>
		<!-- end: COPYRIGHT -->
	</div>
	<!-- start: MAIN JAVASCRIPTS -->
	<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
	<!--[if gte IE 9]><!-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/plugins/blockUI/jquery.blockUI.js"></script>
	<script src="assets/plugins/iCheck/jquery.icheck.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
	<script
		src="assets/plugins/perfect-scrollbar/src/perfect-scrollbar-rtl.js"></script>
	<script src="assets/plugins/less/less-1.5.0.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<script
		src="assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
	<script src="assets/js/main.js"></script>
	<!-- end: MAIN JAVASCRIPTS -->
	<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script
		src="assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="assets/js/login.js"></script>
	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script>
			jQuery(document).ready(function() {
				Main.init();
				Login.init();
			});
		</script>
</body>
<!-- end: BODY -->
</html>